# Локальная разработка
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=admin
MYSQL_DATABASE=biathlon
MYSQL_PORT=3306

# Для продакшена на Render.com значения будут другими:
# MYSQL_HOST=sql808.infinityfree.com
# MYSQL_USER=if0_40850134
# MYSQL_PASSWORD=SHj0kWqHr474
# MYSQL_DATABASE=if0_40850134_db_name